// Grid system
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}
.masonry-grid {
  position: relative;
  @include clearfix();
  .grid-sizer,.post {
    @include make-sm-column(6);
    @include make-md-column(4);
  }
  .post{
    margin-bottom: 25px;
    .entry-title {
      font-weight: 400;
      margin: 0 0 6px;
    }
    img {
      display: block;
      margin: 0 0 9px;
      max-width: 100%;
      @include border-top-radius(9px);
      @include border-bottom-radius(9px);
      @include opacity(.6);
    }
    .entry-summary {
      display: inline;
    }
    &:hover {
      img {
        @include filter(saturate(1.5));
        @include opacity(1);
      }
      .entry-stats a {
        color: $color_storm_dust_approx;
      }
    }
  }
}