a:hover {
  text-decoration: none;
}
.head-wrapper {
  padding: 30px 15px 25px;
  .logo {
    height: 42px;
    line-height: 42px;
    text-align: center;
    .brand img {
      @include border-top-radius(5px);
      @include border-bottom-radius(5px);
    }
  }

  ul.ubermenu-content-block.ubermenu-widget-area.ubermenu-autoclear{list-style: none;padding:0}
  .ubermenu .ubermenu-widget{padding:6px 20px 6px 25px}
  .widget_search {
    .search-form {
      position: relative;
      .search-field{
        @include border-top-radius(15px);
        @include border-bottom-radius(15px);
        padding-left: 36px;
        height:30px;
        font-size:13px;
      }
      .search-submit{
        position: absolute;
        top: 15px;
        margin-top: -8px;
        left: 11px;
        background-color: transparent;
        border: 0;
        padding: 0;
      }
    }
  }

  @media screen and (min-width: 480px) {
    display: -webkit-flex;
    display: flex;
    .logo {
      width: 184px;
    }
    .nav-primary {
      -webkit-flex: 1;
      flex: 1;
    }
  }
  @media screen and (min-width:960px){
    .search-field{width:150px}
  }
}
footer {
  font-size: 14px;
  .container {
    border-top: 1px solid $color_pink_swan_approx;
    > section {
      padding: 30px 40px 85px;
    }
  }
  a {
    color: $color_endeavour_approx;
    text-decoration: underline;
  }
}

.entry-stats,.upw-stats {
  display: inline;
  a {
    color: $mercury;
    font-size: 11px;
  }
}