// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #000;

//colors
$color_endeavour_approx: #0064af;
$color_pink_swan_approx: #b8b8b8;
$mercury: #e5e5e5;
$color_storm_dust_approx: #666;
$font-size-base: 16px;
$grid-gutter-width:50px;
$container-large-desktop: (1000px + $grid-gutter-width);